# Python
backend/birthday_venv/
__pycache__/
*.pyc
*.db

# Node
frontend/node_modules/
frontend/.env

# Android build files
frontend/android/.gradle/
frontend/android/app/build/
frontend/android/app/.cxx/
frontend/android/build/

# VS Code
.vscode/

# Firebase credentials
backend/firebase-credentials.json
frontend/android/app/google-services.json